/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

body{
    background-color: lightgray;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    text-align: center;
    border: 2px solid black;
    padding: 40px;
}

/* TABELLA DI GIOCO */

.title {
    border: 1px solid red;
    padding: 10px;
}

h2{
    color:red;
    margin: 10px;
}

button {
    margin: 30px 30px 10px 30px;
    padding: 10px;
    background-color: black;
    color:red;
    border: none;
    border-radius: 10px;
}

.table {
    display: flex;
    margin: 20px;
}

#userNumber, #userCpu, #scoreCpu, #scoreUser {
    font-size: 1.5rem;
    font-weight: bold;
}

.extract-user, .extract-cpu {
    width: 50%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 20px 0;
}

.extract-user{
    border-right: 1px solid red;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
}